# Cấu hình Database MySQL (Thay đổi user/pass cho khớp với XAMPP/MySQL của bạn)
DATABASE_URL="mysql+pymysql://root:1234@localhost:3306/event_management"

# Cấu hình bảo mật JWT
SECRET_KEY="tao_mot_chuoi_bi_mat_rat_dai_va_kho_doan_o_day"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

REFRESH_TOKEN_EXPIRE_DAYS=7